#end {
	width:100%;
	text-align:center;
	padding-top:10px;
}

#end button {
	width:200px;
	display:block;
	margin: 15px  auto 25px;
	padding: 5px;
}

#end h1 {
	display:block;
}

#end b {
	color:$off-main;
}