#gameContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	'name name name name'
	'info display display display'
	'info this this score'
	'info buttons buttons buttons'
	'bankL bankL wrongL wrongL'
	'bank bank wrong wrong'
	'credit credit credit credit';
}

#progress {grid-area: display;}

.round {grid-area: this;}

.score {grid-area: score;}

#bank {grid-area: bank;}
#wrong {grid-area: wrong;}

.buttonholder {grid-area: buttons;}

.instructions {grid-area: info;}

.title {grid-area: name;}

.cred {grid-area:credit;}

.bank-head {grid-area:bankL;}
.wrong-head {grid-area:wrongL;}