#progress {
	text-align:center;
	padding: 20px 10px;
	letter-spacing: 5px;
	font-size:2em;
	font-family: $serif-h;
}

.round {
	text-align:center;
}

#hint {}

.value {
	font-style:italic;
}

.score {}

#score {}

.buttonholder {}