#progress {
	text-align:center;
	padding: 20px 10px;
	letter-spacing: 5px;
	font-size:2em;
	font-family: $serif-h;
	text-transform: uppercase;
}

.round {
	text-align:center;
}

#counter {
	font-size: .8em;
}

#value {
	letter-spacing:1px;
}

#value b {
	color: $rose;
	font-family: $serif-h;
	font-weight:normal;
	font-size:1.2em;
}

#hint {
	margin-top:15px;
	font-style:italic;
	color: $off-main;
}

#hint b {
	font-style: normal;
	color: $main;
}

#score {
	color:$rose;
	font-family: $titles;
	font-size:2.5em;
	text-align: center;
	border: 1px solid $light;
	border-radius: $small-round;
	width: 90%;
	margin: 5px auto 0;
}

.buttonholder {}