#progress {
	text-align:center;
	padding: 20px 10px;
	letter-spacing: 5px;
	font-size:2em;
	font-family: $serif-h;
}

.round {
	text-align:center;
}

#hint {}

.value {
	font-style:italic;
}

.score {}

#score {
	color:$rose;
	font-family: $titles;
	font-size:2.5em;
	text-align: center;
	border: 1px solid $light;
	border-radius: $small-round;
	width: 90%;
	margin: 5px auto 0;
}

.buttonholder {}