$tan: #CFA474;
$teal: #70AE92;
$rose:#9B5C73;
$sky:#A0D3C3;
$light: white;

$titles: 'Lobster', cursive;
$main-text: 'Poppins', sans-serif;
$serif-h: 'Patua One', monospace;

$banks-padding: 15px;

$small-round: 5px;